<style>
    header {
        font-family: consolas;
    }
    .header-main-div{
        width: 100%;
        background-color: #0d0f13;
        display: flex;
        flex-wrap: wrap;
        color: white;
        padding: 0 10px;
        margin:0px;
        justify-content: space-between;
        box-sizing: border-box;
        /* border-top-left-radius: 0.8rem;
        border-bottom-right-radius: 0.5rem; */
    }
    .header-main-div p{
        font-weight: 900;
        font-size: 25px;
        margin: 8% 0px;
    }
    .header-main-div li{
        display: inline-block;
        margin-right: 10px;
    }
    .header-main-div a{
        color: inherit;
    }
</style>
<header>
    <!-- <link rel="stylesheet" href="../assets/css/header.css"> -->
    <div class="header-main-div">
        <div>
            <p><i class="fa-regular fa-watch-fitness"></i>
                Habit Tracker
                </p>
        </div>
        <div>
            <ul>
                <li>Hello user(Sarath)</li>
            </ul>
        </div>
    </div>

</header>