<!-- <style>
   
</style> -->
<link rel="stylesheet" href="css/startpage.css">
<div id="stagePageHeading">
    <center>
        <h1>Welcome to the Habit Tracker</h1>
        <p>Its Time to build some good things in your life.</p>
    </center>
</div>

<div id="stagePagebutton">
    <button id="startButton">Start</button>
</div>

<script src="/js/start.js"></script>